#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  text-align: center;
}
#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-9 STRONG {
  color: #777777;
}
#contacts3-9 P {
  color: #777777;
}
#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #777777;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#content5-19 .mbr-article P {
  text-align: center;
  color: #777777;
}
#ext_menu-31 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-31 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-31 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#ext_menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#gallery1-22 SMALL {
  color: #ffffff;
}
